.burger__img {
    display: none;
}

.burger__img img {
    width: 30px;
}

.burger__menu {
    position: absolute;
    top: 71px;
    right: 0;
}

.burger__block {
    border-radius: 8px;
    background-color: rgb(233, 152, 1);
    padding: 10px 15px 10px 15px;
}

.burger__item {
    text-align: center;
    margin-bottom: 9px;
}

.burger__item a {
    text-decoration: none;
    font-size: 15px;
    color: aliceblue;
}

.burger__item a:hover {
    color: rgba(240, 248, 255, 0.774);
}
